:root {
  // brand colors
  --c-brand: #3374c8;
  --c-brand-light: #a8d0dc;

  // background colors
  --c-bg: #f5f5f5;
  --c-bg-light: #eef4fa;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;

  // custom container colors
  --c-tip: #4279b9e5;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e0cf7ac9;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #c86565d7;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #5f1a1a;
  --c-danger-text: #420000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #0e234d;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #e6bfad;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  // --navbar-height: 3.6rem;
  // --navbar-padding-v: 0.7rem;
  // --navbar-padding-h: 1.5rem;
  // --sidebar-width: 20rem;
  // --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  // --content-width: 740px;
  --homepage-width: auto;
}

// dark mode

html.dark {
  // brand colors
  --c-brand: #6ab1f3;
  --c-brand-light: #90bee9;

  // background colors
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;

  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #466483;
  --c-border-dark: #667c92;

  // custom container colors
  --c-tip: #4279b9bb;
  --c-warning: #ceac00a2;
  --c-warning-bg: #585241;
  --c-warning-title: #fbd200;
  --c-warning-text: #cac6ac;
  --c-danger: #990505d3;
  --c-danger-bg: #503131e1;
  --c-danger-title: #e70000;
  --c-danger-text: #b8a2a2;
  --c-details-bg: #434a5886;

  // code blocks vars
  --code-hl-bg-color: #479dff49;
}

// custom container
html {
  --c-ignore: #797979;
  --c-ignore-bg: #a1a1a144;
  --c-ignore-title: #555555;
  --c-ignore-text: #808080;

  &.dark {
    --c-ignore: #5c5c5c9a;
    --c-ignore-bg: transparent;
    --c-ignore-title: #959595;
    --c-ignore-text: #6d6d6d;
  }
}

.custom-container {
  &.murmur {
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;

    border-color: var(--c-ignore);
    background-color: var(--c-ignore-bg);
    color: var(--c-ignore-text);

    .custom-container-title {
      color: var(--c-ignore-title);
    }

    a {
      color: var(--c-ignore-text-accent);
    }
  }
}

code {
  color: #ff7323;
  background-color: var(--code-bg-color);
}

.theme-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  padding-top: 0;
  margin: 0;
  margin-top: var(--navbar-height);
  flex: 1;
}

.navbar .logo {
  display: inline;
}
